/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* Common styless part start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
/* Header Part Start */
.header-container{
    width: 1160px;
    margin: 0 auto;
}
.main-logo h2{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #00887a;
}
.main-logo p{
    font-size: 12px;
    font-weight: 400;
    color: #314455;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items:center ;
}
.navigation-bar{
    display: flex;
}
.navigation-bar li{
    list-style: none;
    margin: 15px;
}
.navigation-bar li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 10px;
    position: relative;
   
}
.navigation-bar li a::before{
    content: "";
    width: 0px;
    height: 2px;
    background:#f49763;
    position: absolute;
    top: 90%;
    left: 20%;
    transition: .5s;
}
.navigation-bar li:hover a::before{
    width: 60%;
}
ul li .fa-search, .fa-shopping-cart{
    font-size: 20px;
    color: #f49763;
}
ul li .fa-search:hover,.fa-shopping-cart:hover{
    color:#00887a;
    transition: .8s;
    

}
/* Header Part end */
/* Banner part start */
.banner{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: calc(100vh -120px);
   margin-top: 20px;
  
}
.banner-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-top: 30px;
}
.banner-left h1{
    font-size: 52px;
    line-height: 65px;
    font-weight: 700;

}
.banner-left p{
    font-size: 18px;
    font-weight: 400;
    color: #3A3A3A;
    margin: 30px 0px;
}
.banner-title{
    color: #00887a;
}
.primary-btn {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #00887a;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}

.primary-btn span {
    position: absolute;
    display: block;
    background: #2f2fa2;
}

.primary-btn span:nth-child(2) {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-radius: 20px;
    transform: translateY(0);

}

.primary-btn:hover span:nth-child(2) {
    transition: 0.5s;
    transform: translateY(-100%);
    border-radius: 20px;

}

.primary-btn span:nth-child(3) {
    top: 0;
    left:-20px;
    width: 100%;
    height: 3px;
    transform: translateX(-100%);
    border-radius: 20px;

}

.primary-btn:hover span:nth-child(3) {

    transform: translateX(100%);
    transition: 0.75s;
    transition-delay: 0.25s;
    border-radius: 20px;

}

.primary-btn span:nth-child(4) {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    border-radius: 20px;
    transform: translateY(-100%);

}

.primary-btn:hover span:nth-child(4) {
    transition: 0.5s;
    transition-delay: 0.25s;
    transform: translateY(0);
    border-radius: 20px;

}

.primary-btn span:nth-child(5) {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    border-radius: 20px;
    transform: translateY(0);

}

.primary-btn:hover span:nth-child(5) {
    transition: 0.5s;
    border-radius: 20px;
    transform: translateY(100%);

}

.primary-btn span:nth-child(6) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    transform: translateX(100%);

}

.primary-btn:hover span:nth-child(6) {
    transition: 0.75s;
    transition-delay: 0.25s;
    transform: translateX(-100%);
    border-radius: 20px;

}

.primary-btn span:nth-child(7) {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-radius: 20px;
    transform: translateY(-100%);

}

a:hover span:nth-child(7) {
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
    border-radius: 20px;

}
 

.banner-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 366px;

 }

.banner-right img{
    width: 60%;
    margin: 40px 0px 0px 90px;
   
}
/* Banner part end */
/* Partnear company logo part start */
.partner-container{
    width: 1110px;
    height: 140px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}
.partner-company-logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border-top: 1px solid rgba(192, 204, 218, 0.6);
    border-bottom: 1px solid rgba(192, 204, 218, 0.6);
    border-radius: 2px;
  
}
.partner-company-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 0px 30px 5px;
    
}
.partner-company-logo img{
    width: 80px;
}
/* Partnear company logo part end */
/* Popular product part start */
.product-container{
    width: 1000px;
    margin: 0 auto;
}
.product-section-title{
    text-align: center;
    margin-bottom: 50px;
}
.populer-products{
    display: grid;
   
    grid-template-columns: repeat(3,1fr);
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 470px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color:rgb(251,251,251);
    box-shadow: 0px 0px 30px 0px #00000026;
    
}
.product-img{
   text-align: center;
   margin-top: -20px;
}
.product-img img{
    width: 85%;
    align-items: center;
}
.product-title .product-name{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 20px;
}
.product-title .product-price{
    font-size: 25px;
    font-weight: 500;
    margin: 5px 20px;
    color: #000000DE; 
}
.product-review{
    margin: 5px 20px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.field{
   color:#FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.product-info p{
    font-size: 14px;
    margin: 5px 20px;
    font-weight: 700;
    color: #787885;
}
/* Popular product part end */
